.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.RegisterUser {
  background-color: #383B53;
  min-height: 100vh;
  color: white;
}

.LoginUser {
  background-color: #383B53;
  min-height: 100vh;
  color: white;
}

.Journals {
  background-color: #383B53;
  min-height: 100vh;
  color: white; 
}

.inputbg {
  width: 50vw;
  height: 3vh;
  padding: 2px;
}

.HomePage {
  background-color: #383B53;
  min-height: 100vh;
  color: white;
  display: flex;
}

/*Sidebar classes*/
.SideBar {
  /*background-color: #90B6AD;*/
  background-color: #383B53;
  min-height: 100vh;
  width: 25vmin;
  max-width: 325px;
  color: white;
  box-shadow: 2px 2px 5px black;
  position: absolute;
}

.SideBar-navElement {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 7vh;
  padding: 1vh;
  font-size: 2vmin;
  color: white;
}

.SideBar-navElement:hover{
  /*background-color: #679489*/
  background-color: rgb(25, 27, 37);
  color: white;
  text-decoration: none;
}

.SideBar-logo {
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 10vh;
  padding: 1vh;
  font-size: 2vmin;
}
.main-logo {
  min-height: 7vmin;
  min-width: 7vmin;
  width: 2vh;
  height: 2vh;
}

/* UserList Styles */
.list {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}

.card-container {
  width: 250px;
  border: 1px solid rgba(0,0,.125);
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.desc {
  height: 130px;
  padding: 10px;
}

.desc h2 {
  font-size: 1em;
  font-weight: 400;
}

.desc h3, p {
  font-weight: 300;
}

.desc h3 {
  color: #6c757d;
  font-size: 1em;
  padding: 10px 0 10px 0;
}

/* General link formatting */
.link:link {
  color: #a1c3ff;
}
.link:visited {
  color: #a1c3ff;
}
.link:hover {
  color: #8ba9dc;
}
.link:active {
  color: #FFFFFF;
}

/* Testing classes */
.debug{
  border: 1px solid red;
}